 {% extends 'layout.html' %}

 {% block body %}
<!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I am.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>I am a normal person, I hope that's true. I am learning Web Development. For now, it's above average fun</p>
                        <p>I don't like to take my dog for a walk, he fights with every single dog he sees. However, he is still a very good boy.</p>
                        <p>I try to ignore what my mind is always reflecting, half of it is useless. It is just a by-product of my surroundings.</p>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}
